USE [master]
GO
/****** Object:  Database [APIDemo]    Script Date: 15-03-2024 09:57:23 ******/
CREATE DATABASE [APIDemo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'APIDemo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\APIDemo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'APIDemo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\APIDemo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [APIDemo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [APIDemo]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 15-03-2024 09:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[PersonID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Contact] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[API_Person_DeleteByPersonID]    Script Date: 15-03-2024 09:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[API_Person_DeleteByPersonID]
@PersonID int
as
Delete from Person
where PersonID=@PersonID
GO
/****** Object:  StoredProcedure [dbo].[API_Person_Insert]    Script Date: 15-03-2024 09:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[API_Person_Insert]
@Name varchar(50),
@Contact varchar(50),
@Email varchar(50)
as
begin
	insert into Person
	values
	(
		@Name,
		@Contact,
		@Email
	)
end
GO
/****** Object:  StoredProcedure [dbo].[API_Person_SelectAll]    Script Date: 15-03-2024 09:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[API_Person_SelectAll]
AS
SELECT
	Person.PersonID,
	Person.Name,
	Person.Email,
	Person.Contact
FROM Person
GO
/****** Object:  StoredProcedure [dbo].[API_Person_SelectByPersonID]    Script Date: 15-03-2024 09:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[API_Person_SelectByPersonID]
@PersonID	int
AS
SELECT
	Person.PersonID,
	Person.Name,
	Person.Email,
	Person.Contact
FROM Person
WHERE Person.PersonID = @PersonID
GO
/****** Object:  StoredProcedure [dbo].[API_Person_Update]    Script Date: 15-03-2024 09:57:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[API_Person_Update]
@PersonID int,
@Name varchar(50),
@Contact varchar(50),
@Email varchar(50)
as
begin
	Update Person
	set 
		Name = @Name,
		Email = @Email,
		Contact = @Contact
	where PersonID = @PersonID
end
GO
USE [master]
GO
